/* Todo o menu */
/* ADD */
#Adicionar {
  padding-top: 20%;
  background: #0d8822;
  border: 20px solid #0d8822;
  color: white;

  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

/* EDIT */
#Editar {
  /* padding-top: 20%; */
  /* position: relative; */
  background: #36334d;
  border: 20px solid #2e1b42;
  color: white;

  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

#Adicionar input {
  padding-top: 4%;
  color: white;
}

/* Botões ADICIONAR e CANCELAR */
.BotoesLancamento {
  display: block;
}

#BttAdd {
  transform: translateX(+1);
  transition: 2.5s;
  transform: translateX(-100%);
  padding: 5%;
  text-transform: uppercase;
  background: #4c9458;
  /* color: white; */

  /* font-size: 16px; */
  /* letter-spacing: 0.03em; */
}

#BttCancel {
  transform: translateX(100%);
  border-radius: 90px;
  padding: 5%;
  background: rgb(255, 255, 255);
  transition: 2.5s;
  background: red;
  width: 40px;
  height: 40px;
}

/* TOGGLE */

label {
  /* cursor: pointer; */
  text-indent: -9999px;
  width: 100%x;
  height: 50px;
  background: red;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 90px;
  transition: 0.5s;
}

input:checked + label {
  background: #01fff7;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
