table tr th {
  background: #0d8822;
  color: white;
  text-align: left;
  vertical-align: center;
}

table tr td {
  background: #c4bfa3;
  color: rgb(60, 10, 199);
  text-align: left;
  vertical-align: center;
}
